body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 90%;
	height: auto;
	background-color: blueviolet;
}
 .left{
	 width: 30%;
	 height: auto;
	float: left;
}
.left img{
	margin-top: 10px;
	margin-left: 10px;
}
.right{
	width: 70%;
	height: auto;
	overflow: hidden;
}
 .right ul li {
	display: inline-block;
}
.right ul li a{
	text-decoration: none;
	padding: 15px;
}
.right ul li a :hover{
	background-color: chartreuse;
	transition: .3s;
}
.btn{
	transform: rotate();
	border-radius: 50%;
}
.m-left{
	width: 30%;
	height: 50%;
	background-color: chartreuse;
	float: left;
}
.m-middle{
	width: 30%;
	height: 50%;
	background-color: crimson;
	overflow: hidden;
	float: left;

}
.m-right{
	width: 30%;
	height:50%;
	background-color: cyan;
	overflow: hidden;

}
h2,p{
	text-align: center;
}